<div>
<h1>Title Case Pipe Implementation</h1>
<input #one (keyup) = "first(one.value)" />
<h3>{{allCapital}}</h3>



</div>


<div>
    <h1>Reverse Case Pipe Implementation</h1>
    <input #two (keyup) = "second(two.value)" />
    <h3>{{reverse}}</h3>
    
    
    
    </div>

    <div>
        <h1>Title Case Pipe Implementation with Preposition exclusion</h1>
        <input #three (keyup) = "third(three.value)" />
        <h3>{{capitalPrep}}</h3>
        
        
        
        </div>
        