<div class="new">
<div>
<h2>Title Case Pipe Implementation</h2>
<input #one (keyup) = "first(one.value)"  class="ip" />
<h3>{{allCapital}}</h3>



</div>


<div>
    <h2>Reverse Case Pipe Implementation</h2>
    <input #two (keyup) = "second(two.value)"  class="ip"/>
    <h3>{{reverse}}</h3>
    
    
    
    </div>

    <div>
        <h2>Title Case Pipe Implementation with Preposition exclusion</h2>
        <input #three (keyup) = "third(three.value)" class="ip" />
        <h3>{{capitalPrep}}</h3>
        
        
        
        </div>
    </div>